@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

.btns-primary {
  background-color: #6300A7;
  color: #FFF;
  padding: 0.75em 1.5em;
  border: 3px solid #6300A7;
  text-align: center;
  text-decoration: none;
  border-radius: 25px; }
  .btns-primary:hover {
    background-color: transparent;
    color: #6300A7;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s; }

input, select {
  display: block;
  margin: 0 auto !important;
  border-radius: 20px;
  border: 1px solid #9e9e9e;
  padding-left: 10px;
  background-color: #E6E6E6;
  color: #000; }
  input:focus, select:focus {
    outline: none; }

#account-btn {
  margin-top: 15px; }
