@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import "../scss/var.scss";

body{
    margin: 0 auto;
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    font-weight: 700;
}

.btns-primary {
    background-color: $primary;
    color: $white;
    padding: 0.75em 1.5em;
    border: 3px solid $primary;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    &:hover{
        background-color: transparent;
        color: $primary;
        transition: ease 0.5s;
    }
}

input, select{
    //display: block;
    padding: 0.7em;
    width: 100%;
	margin: 0 auto;
    border-radius: 20px;
    border: 1px solid $secondary;
    //margin-left: 15px;
    padding-left: 10px;
    background-color: $secondary;
    color: $black;
    &:focus{
        outline: none;
    } 
}

input[type='number'] {
    -moz-appearance:textfield;
}

select.input-lg {  
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://image.flaticon.com/icons/png/512/60/60995.png) 96% / 3% no-repeat #eee;
    /* no standardized syntax available, no ie-friendly solution available */
  }

label {
    margin-top: 20px;
}

#account-btn{
	margin-top: 15px; 
}


.bg-createaccount{
     overflow: hidden;
        &:before{
            content: "";
            position: absolute;
            background-image: url(../image/bg-1.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            z-index: -2;
        }
        &:after{
            content: "";
            position: absolute;
            background-color: $black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            z-index: -1;
        }
    .greenhouse-logo{
        height: 100px;
    }
    .bg-light{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 0px 36px -10px rgba(181,181,181,1);
        -moz-box-shadow: 0px 0px 36px -10px rgba(181,181,181,1);
        box-shadow: 0px 0px 36px -10px rgba(181,181,181,1);
    }
    .styledSelect{
        width: 50%;
        margin: 0 auto;
        input{
            width: 100%;
        }
    }
}

.bg-index{
    overflow: hidden;
    &:before{
        content: "";
        position: absolute;
        background-image: url(../image/bg-4.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -2;
    }
    &:after{
        content: "";
        position: absolute;
        background-color: $black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    .search-wrap{
        padding-top: 220px;
        @media only screen and(max-width: 1199px){
            padding-top: 180px;           
        }
        #search-colleague{
            position: relative;
            width: 50%;           
            margin-top: 30px;
            height: 35px;
        }
        hr{
            background: white;
            width: 50%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        h1{
            color: $white;
            padding-bottom: 30px;
            @media only screen and(max-width: 768px){
                font-size: 26px;            
            }
            }
        }
        form{
            z-index: 15px;
            &:after{
                font-family: "Font Awesome 5 Free";
                content: "\f002";
                font-style: normal;
                font-weight: 900;
                text-decoration: inherit;
                position: absolute;
                right: 305px;
                bottom: 4px;
                font-size: 18px;
                z-index: 15px;
                @media only screen and(max-width: 1199px){
                    right: 260px;           
                }
                @media only screen and(max-width: 991px){
                    right: 200px;           
                }
                @media only screen and(max-width: 768px){
                    right: 155px;           
                }
                @media only screen and(max-width: 550px){
                    display: none;           
                }
            }
}
        }        

.explosion-img{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 420px;
    @media only screen and(max-width: 768px){
        display: none;
    }
}

ul{
    display: inline-block;
}

.bg-searchresults{
    .banner{
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 240px;
            top: 0px;
            left: 0px;
            background-image: url(../image/bg-3.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }
    }
    #search-colleague{
        position: relative;
        width: 50%;           
        margin-top: 60px;
        height: 35px;
    }
    form{
        &:after{
            font-family: "Font Awesome 5 Free";
            content: "\f002";
            font-style: normal;
            font-weight: 900;
            text-decoration: inherit;
            position: absolute;
            right: 305px;
            bottom: 4px;
            font-size: 18px;
            z-index: 15px;
            @media only screen and(max-width: 1199px){
                right: 260px;           
            }
            @media only screen and(max-width: 991px){
                right: 200px;           
            }
            @media only screen and(max-width: 768px){
                right: 155px;           
            }
            @media only screen and(max-width: 550px){
                display: none;           
            }
        }
    }   
    .history-wrap, .results-wrap{
        padding-top: 120px;
        .history-block{ 
            height: 200px;
            background: $secondary;  
            background-clip: content-box; 
            white-space: nowrap; 
            filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
            @media only screen and(max-width: 1199px){
                margin-bottom: 30px;          
            }
            .profile-pn{
                padding: 30px;
                transform: translate(0%, 12%); 
                 .profile-pic{
                    display: inline-block;
                    object-fit: cover;
                    width:100px;
                    height:100px;
                    border-radius: 50%;                 
                }
                .profile-name{
                    padding-left: 15px;
                    display: inline-block;
                    margin-bottom: 0px;
                    transform: translate(0%, 30%); 
                    width: 150px;
                    word-break: break-all;
                    white-space: normal;
                }
                i{
                    position: absolute;
                    right: 30px;
                    transform: translate(0%, 260%); 
                    color: $primary;
                    font-size: 18px;
                    @media only screen and(max-width: 380px){
                        padding-left: 30px;          
                    }
                    @media only screen and(max-width: 340px){
                        padding-left: 15px;          
                    }
                }
            }
        }
        hr{
            margin-left: 0px;
            height: 1px;
            width: 31.5%;
            background: $primary;
        }
    }  
    .results-wrap{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    input{
        background: $white;
        border: none;
        -webkit-box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.75);
    }
}


.navigation-bar{
    background-color: #F8F8F8;
    max-height: 90px;
    width: 100%;
        ul{
            list-style-type: none;
             margin: 0px;

            li{
                display: inline-block;
                padding: 10px;
                line-height: 70px;
                overflow: auto;

                a{
                    color: #707070;
                    display: block;
                    &:hover
                    {
                        text-decoration: none;
                        border-bottom: 2px solid $primary;
                    }
                }
            }
        }

}

.profile-bar{
    background-color: $primary;
    width: 20%;
    max-height: 90px;
    position: absolute;
    right: 0;
    margin: 0;

    .dropdown-toggle{
        list-style-type: none;
        margin: 0px;
        line-height: 90px;
        margin-left: 20%;
        font-size: 18px;
        font-weight: 300;
        color: $white;
        text-decoration: none;
        
    }

    .dropdown-menu{
        list-style-type: none;
        min-width: 100%;
        background-color: #F8F8F8;
        z-index: 100;
        padding: 0;
        margin:0;
        border-radius: 0;

        li{
                width: 100%;
                position: relative;

                .border-bottom{
                    border-bottom: 2px solid #C2C2C2;
                }

                a{
                    color: #707070;
                    text-decoration: none;
                    padding: 0 30px;
                    &:hover
                    {
                        text-decoration: none;
                        color: $primary;
                    }
                }

            }
        .list-unstyled
        {
            margin-bottom: 0px;
        }
    }

    .show{
            transform: none !important;
            position: relative !important;
    }
}


.bg-loginpage{
    overflow: hidden;
    &:before{
        content: "";
        position: absolute;
        background-image: url(../image/bg-login.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -2;
    }
    &:after{
        content: "";
        position: absolute;
        background-color: $black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -1;
    } 
    .greenhouse-logo{
        margin-top: 150px;
        height: 50px;
    }
    .login-card{ 
        height: 100vh;
        .bg-light{
            // padding: 3rem;
            width: 800px; 
            min-height: 100%;
            background-color: $primary !important;
            // @media only screen and(max-width: 1199px){
            //     margin-top: 150px;  
            //     margin-left: 150px;         
            // }
            // @media only screen and(max-width: 991px){
            //     margin-top: 100px;  
            //     margin-left: 100px;            
            // }
            // @media only screen and(max-width: 768px){
            //     margin-top: 50px;  
            //     margin-left: 50px;           
            // }
            // @media only screen and(max-width: 550px){
            //     margin-top: 0px;  
            //     margin-left: 0px;            
            // }
            h3{
                font-size: 1.5em;
                font-weight: 300;
                margin-top: 2em;
                margin-bottom: 1em;
                padding: 10px;
            }  
            label{
                margin-top: 35px;
            } 
            .card-white{
                background-color: $white;
                height: 100vh;
            } 
            form{
                padding: 10px;
            } 
            ul li {
                padding: 10px;
                
            }
            ul li  a:hover{
                text-decoration: none;
                color: $black;  
            }
            
          
    }  
}  

    hr.login {
        margin: 4em;
    }
    .forgotPassword{
        color: #797878;
    }         
    .createAccount{
        color: $primary;
    }         
    .vertical-center {
        margin: 0;
        position: relative;
        top: 50%;
        -ms-trans   : translateY(-50%);
        transform: translateY(-50%);
    } 
    .styledSelect{
        width: 100%;
        text-align: center;
        button{
            width: 100%;
        }
    }

    /* When I remove background the icon goes back to that default size */
    .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
    border:none;
    }
    
    .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none !important;
    }
}

.bg-profilepage{
    &:before{
       content: "";
       position: fixed;
       background-image: url(../image/bg-4.jpg);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       width: 100%;
       height: 100%;
       left: 0px;
       top: 0px;
       z-index: -2;
   }
   &:after{
       content: "";
       position: fixed;
       background-color: $black;
       opacity: 0.7;
       width: 100%;
       height: 100%;
       left: 0px;
       top: 0px;
       z-index: -1;
   }
   .profiel{
    background-color: white;
    margin-top: 120px;
    padding: 20px 20px 30px;
    .profilePicture{
        position:relative;
        width:60%;
        padding-bottom:60%;
        border-radius:50%;
        overflow:hidden;
        background-color: gray;
        margin: -40% auto 20px;
    }
    .status{
        width:35px;
        height: 35px;
        border-radius:50%;
        overflow:hidden;
        background-color: red;
        position: absolute;
        z-index: 666;
        right: 22%;
        top: 16%;
    }
    .uploadPicture{
        width:35px;
        height: 35px;
        border-radius:50%;
        overflow:hidden;
        background-color: #6300A7;
        position: absolute;
        right: 27%;
        z-index: 7666;
        color: white;
        font-size: 30px;
        &:after{
            content: "+"; 
            position:absolute; 
            z-index:100000; 
            top: -5px;
            left: 9px;
        }
        &:hover{
           background-color: #490776;
           text-decoration: none;
        }
    }
    .name{
        text-align: center;
        word-break: break-all; 
        h2{
            font-weight: lighter;
            color: #707070;
            font-size: 30px;
        }
        span{
            color: #9F9F9F;
        }
    }
    .subSettings{
        ul{
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
            li{
                line-height: 35px;
                .testIcon{
                    float: left;
                    padding-right: 10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50px;
                    border: 1.5px solid #6300A7;
                    margin: 6px 7px 0 0
                }
                p{
                    word-break: break-all; 
                    margin-bottom: 0;
                }
            }
        }
    }
    a{
        width: 100%;
        border-radius: 30px;
        background-color: #6300A7;
        display: inline-block;
        padding: 8px 10px;
        text-align: center;
        color: white;
        &:hover{
           background-color: #490776;
           text-decoration: none;
        }
    }
    .subSettings{
        margin: 30px 0 40px;
    }
   }
   .editProfile{
    width: 100%;
    margin-top: 50px;
    background-color: white;
    padding: 0 30px;
    h2{
        font-weight: lighter;
        color: #707070;
        font-size: 30px;
        padding: 20px 0 10px;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
    }
    .crafts{
        padding: 10px 20px;
        background-color: #6300A7;
        color: white;
        text-align: center;
        background-clip: content-box;
        line-height: 100px;
        vertical-align: center;
        font-size: 25px;
        &:hover{
           background-color: #490776;
           text-decoration: none;
        }
    }
    select{
        width: 100%;
        padding: 10px 20px 10px 10px;
        margin: 20px 0 10px !important;
        border-radius: 0;
    }
    .changeButtons{
        a{
            width: 100%;
            border-radius: 30px;
            background-color: #6300A7;
            display: inline-block;
            padding: 12px 10px;
            text-align: center;
            color: white;
            margin: 20px 0 30px;
            &.cancel_button{
                background-color: #B93FB9;
                &:hover{
                   background-color: #8C1E8C;
                   text-decoration: none;
                }
            }
            &:hover{
               background-color: #490776;
               text-decoration: none;
            }
        }
    }
    
   }
}
