@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import "../scss/var.scss";

body{
    margin: 0 auto;
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    font-weight: 700;
}

.btns-primary {
    background-color: $primary;
    color: $white;
    padding: 0.75em 1.5em;
    border: 3px solid $primary;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    &:hover{
        background-color: transparent;
        color: $primary;
        transition: ease 0.5s;
    }
}

input, select{
    display: block;
    width: 100%;
	margin: 0 auto;
    border-radius: 20px;
    border: 1px solid $secondary;
    margin-left: 15px;
    padding: 5px;
    background-color: $secondary;
    color: $black;
    &:focus{
        outline: none;
    } 
}

input[type='number'] {
    -moz-appearance:textfield;
}

select.input-lg {  
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://image.flaticon.com/icons/png/512/60/60995.png) 96% / 3% no-repeat #eee;
    /* no standardized syntax available, no ie-friendly solution available */
  }

label {
    margin-top: 20px;
}

#account-btn{
	margin-top: 15px; 
}


.bg-createaccount{
    // overflow: hidden;
    &:before{
        content: "";
        position: absolute;
        background-image: url(../image/bg-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -2;
    }
    &:after{
        content: "";
        position: absolute;
        background-color: $black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    .greenhouse-logo{
        width: 350px;
    }
    .bg-light{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 0px 36px -10px rgba(181,181,181,1);
        -moz-box-shadow: 0px 0px 36px -10px rgba(181,181,181,1);
        box-shadow: 0px 0px 36px -10px rgba(181,181,181,1);
    }
    .styledSelect{
        width: 50%;
        margin: 0 auto;
        input{
            width: 100%;
        }
    }
    .fa-caret-down { 
        color: #000; 
        font-size: 30px;
    }
}

.bg-index{
    overflow: hidden;
    &:before{
        content: "";
        position: absolute;
        background-image: url(../image/bg-4.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -2;
    }
    &:after{
        content: "";
        position: absolute;
        background-color: $black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    .search-wrap{
        padding-top: 120px;
        #search-colleague{
            position: relative;
            width: 50%;           
            margin-top: 30px;
            height: 35px;
        }
        hr{
            background: white;
            width: 50%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        h1{
            color: $white;
            padding-bottom: 30px;
            @media only screen and(max-width: 768px){
                font-size: 26px;            }
            }
        }
        form{
            z-index: 15px;
            &:after{
                font-family: "Font Awesome 5 Free";
                content: "\f002";
                font-style: normal;
                font-weight: 900;
                text-decoration: inherit;
                position: absolute;
                right: 305px;
                bottom: 4px;
                font-size: 18px;
                z-index: 15px;
                    @media only screen and(max-width: 1199px){
                        right: 260px;           
                    }
                    @media only screen and(max-width: 991px){
                        right: 200px;           
                    }
                    @media only screen and(max-width: 768px){
                        right: 155px;           
                    }
                    @media only screen and(max-width: 550px){
                        display: none;           
                    }
                }
            }
          
}

.explosion-img{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 420px;
    @media only screen and(max-width: 768px){
        display: none;
    }
}


.navigation-bar{
    background-color: #F8F8F8;
    max-height: 90px;
    width: 100%;
    float: left;
        ul{
            list-style-type: none;
             margin: 0px;

            li{
                display: inline-block;
                padding: 10px;
                margin: 0px 15px 0px 15px;
                line-height: 70px;

                a{
                    color: #707070;
                    display: block;
                    &:hover
                    {
                        text-decoration: none;
                        border-bottom: 2px solid $primary;
                    }
                }
            }
        }

}

.profile-bar{
    background-color: $primary;
    width: 20%;
    max-height: 90px;
    position: absolute;

    .dropdown-toggle{
        list-style-type: none;
        margin: 0px;
        line-height: 90px;
        margin-left: 20%;
        font-size: 18px;
        font-weight: 300;
        color: $white;
        text-decoration: none;
        
    }

    .dropdown-menu{
        list-style-type: none;
        min-width: 100%;
        width: 336px;
        background-color: #F8F8F8;
        z-index: 100;

        li{
                width: 100%;
                padding: 20px 0px 20px 75px;
                position: relative;

                .border-bottom{
                    border-bottom: 2px solid #C2C2C2;
                }

                a{
                    color: #707070;
                    text-decoration: none;

                    &:hover
                    {
                        text-decoration: none;
                        color: $primary;
                    }
                }

            }
        .list-unstyled
        {
            margin-bottom: 0px;
        }
    }

    .show{
            transform: none !important;
            position: relative !important;
    }
}

